export(embed_proteins)
export(known_models)
export(mmd_matrix)
export(rbf_kernel)
export(read_fasta)
export(rollupStructural)
export(weightedRep)
importFrom(stats,as.dist)
importFrom(stats,dist)
importFrom(stats,median)
importFrom(utils,head)
